@import 'bootstrap';
body {

  background: url(../image/s2WyVe.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.message {
  font-size: 35px;
}

.banner-code {

  background-color: #fff;
  color: #333;
  h1 {
    text-align: center;
  }
  p {
    text-align: center;

  }
  h2 {
    padding-top: 150px;
  }
}

.banner {
  min-height: 100%;
  min-width: 100%;
  background-color: #333333;
  color: #fff;
  margin-top: 150px;
  text-align: center;
  padding-bottom: 100px;

  h1 {
    background-color: #333;
    color: #ac2925;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 25px;

    border: 10px solid #333;
  }
  hr {
    background-color: #fff;
    color: #fff;
  }
}

$grade: -35deg;
.win-prizes {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -100px;
  margin-left: -125px;
  opacity: 0.9;
  -ms-transform: rotate($grade); /* IE 9 */
  -webkit-transform: rotate($grade); /* Chrome, Safari, Opera */
  transform: rotate($grade);
}

.img-banner {
  position: absolute;
  max-width: 100%;
  min-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.prizes {
  text-align: left;
}

.play {

  position: absolute;
  max-width: 50%;
  min-height: 50%;
  bottom: 0;
  right: 0;

}

.prizes-list {

  margin-top: 50px;
}

#app {
  .navbar {
    background-color: #333333;
    border: 0px solid #333;
    font-size: 1.5em;
    a {
      text-transform: uppercase;
      padding-top: 25px;

      min-height: 75px;
      color: rgba(255, 255, 255, .7);

      &:hover {

        background-color: #e61a27;
        color: rgba(255, 255, 255, 1);
        //background-color: rgba(255, 255, 255, .2);
        //color: rgba(255, 255, 255, 1);
      }

    }
    .dropdown-menu{
      background-color: #333333;
      select {
        background-color: #e61a27;
        color: rgba(255, 255, 255, 1);
      }
    }

    .btn{
      background-color: #e61a27 ;
      color: #fff;
    }




    li.active a{
      background-color: #e61a27;
      color: rgba(255, 255, 255, 1);
    }
    .navbar-brand {
      color: #ac2925;

      img {
        margin-top: -10px;
        max-height: 50px;
      }
    }
  }

}




